
<ion-header>

  <ion-navbar>
    <ion-title>{{stock.stock_name}} - Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>

    <div class="content-container">
        <div class="row header">
          <div class="col">Date</div>
          <div class="col">IN Qty</div>
          <div class="col">IN Amt</div>
          <div class="col">OUT Qty</div>
          <div class="col">OUT Amt</div>
          <div class="col">Qty</div>
          <div class="col">Amt</div>
        </div>
        <div class="row" *ngFor="let l of stockDetail" >
          <div class="col">{{l.date | date: 'mediumDate'}} </div>
          <div class="col">{{l.in_quantity | number}}</div>
          <div class="col">{{l.in_value | number}}</div>
          <div class="col">{{l.out_quantity | number}}</div>
          <div class="col">{{l.out_value | number}}</div>
          <div class="col">{{l.balance_quantity | number}}</div>
          <div class="col">{{l.balance_amount | number}}</div>
        </div>
        <div class="row footer" *ngIf="stockDetail">
          <div class="col">Total</div>
          <div class="col">{{in_quantity | number}}</div>
          <div class="col">{{in_value | number}}</div>
          <div class="col">{{out_quantity | number}}</div>
          <div class="col">{{out_value | number}}</div>
          <div class="col">{{balance_quantity | number}}</div>
          <div class="col">{{balance_amount | number}}</div>
        </div>
      </div>

  <!-- <ion-card *ngFor="let s of stockDetail">
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col col-12  style="text-align:center;">
            Miti: <span> {{s.nepali_date}} ({{s.date}}) </span>
            <hr>
          </ion-col>
          <ion-col col-5 >
            IN Quantity: <span class="pull-right"> {{s.in_quantity}} </span>
          </ion-col>
          <ion-col col-5 offset-2>
            OUT Quantity: <span class="pull-right"> {{s.out_quantity}} </span>
          </ion-col>
          <ion-col col-5>
            IN Value: <span class="pull-right"> {{s.in_value}} </span>
          </ion-col>
          <ion-col col-5 offset-2>
            OUT Value: <span class="pull-right"> {{s.out_value}} </span>
          </ion-col>
          <ion-col col-5>
            IN rate: <span class="pull-right"> {{s.in_rate}} </span>
          </ion-col>
          <ion-col col-6></ion-col>
          <ion-col col-12>
            Category: <span class="pull-right"> {{s.page_name}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Quantity: <span class="pull-right"> {{s.balance_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Value: <span class="pull-right"> {{s.balance_value}} </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="stockDetail">
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col col-12  style="text-align:center; font-weight:600; font-size:18px;background: #fe5e00;
          color: #fff;">
            Total
          </ion-col>
          <ion-col col-12 >
            IN Quantity: <span class="pull-right"> {{in_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            OUT Quantity: <span class="pull-right"> {{out_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            IN Value: <span class="pull-right"> {{in_value}} </span>
          </ion-col>
          <ion-col col-12>
            OUT Value: <span class="pull-right"> {{out_value}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Quantity: <span class="pull-right"> {{balance_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Value: <span class="pull-right"> {{balance_value}} </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

  <span *ngIf="current_page <= last_page" >
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </span>

</ion-content>
