<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Reports 
      <p class="sub-title">{{company_id}}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen> 
  <ion-grid>
    <ion-row>
        <!-- <ion-grid *ngIf="company && (company.company_start_date || company.company_end_date)" style="color:gray;margin-bottom: -20px;">
          <ion-row>
            <ion-col col-6 *ngIf="company.company_start_date">
              From: {{company.company_start_date | date: 'mediumDate'}}
            </ion-col>
            <ion-col col-6 text-right *ngIf="company.company_end_date">
              To: {{company.company_end_date | date: 'mediumDate'}}
            </ion-col>
          </ion-row>
        </ion-grid> -->
      <ion-col col-12>
        <p class="heading"> Select The report You want to View. </p>
        <hr>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content (click)="gotoLedgerSummary()" class="component">
        <ion-icon name="document" style="font-size:30px; color:#FE5E00;"></ion-icon>
            Ledger Summary Report
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content  class="component" (click)="gotoDaybookReport()">
          <ion-icon name="book" style="font-size:30px; color:#FE5E00;"></ion-icon>
          DayBook Report
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content  class="component" (click)="gotoStockSummary()">
            <ion-icon name="logo-buffer" style="font-size:30px; color:#FE5E00;"></ion-icon>
            Stock Summary Report
        </ion-card-content>
      </ion-card>
  

</ion-content>
