page-home {

    .heading {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    .component{
        font-size: 20px;
    }
    .card-md {
        margin: 20px 10px;
    }
}
