page-home {

    .heading {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    .component{
        // padding: 15px;
        // border: 1px grey solid;
        // border-radius: 5px;
        font-size: 20px;
    }
}
