page-home {

    .toolbar-title {
        .sub-title {
          font-size: 14px;
          margin: 0;
        }
      }

    .heading {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    .component{
        font-size: 20px;
    }
    .card-md {
        margin: 20px 10px;
    }
}
