<!--
  Generated template for the StockSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Stock Sumamry</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-searchbar 
    (ionInput)="search($event)" 
    placeholder="Search by Stock Name"
    (ionCancel)="onSearchCancel($event)"
    >
  </ion-searchbar>

    <div class="content-container">
      <div class="row header">
        <div class="col">Stock</div>
        <div class="col">IN</div>
        <div class="col">OUT</div>
        <div class="col">Bal</div>
        <div class="col">Amt</div>
      </div>
      <div class="row" *ngFor="let s of stock" (click)="viewStockDetail(s)">
        <div class="col">{{s.stock_name}}</div>
        <div class="col">{{s.in_quantity | number}}</div>
        <div class="col">{{s.out_quantity | number}}</div>
        <div class="col">{{s.balance_quantity | number}}</div>
        <div class="col">{{s.balance_amount | number}}</div>
      </div>
      <div class="row footer" *ngIf="stock">
        <div class="col">Total</div>
        <div class="col">{{data.in_quantity | number}}</div>
        <div class="col">{{data.out_quantity | number}}</div>
        <div class="col">{{data.balance_quantity | number}}</div>
        <div class="col">{{data.balance_amount | number}}</div>
      </div>
    </div>

  <!-- <ion-card *ngFor="let s of stock" (click)="viewStockDetail(s)">
    <ion-card-content>
      <ion-grid>
        <ion-row >

          <ion-col col-12 style="text-align:center;">
            <strong>Stock Name: <span> {{s.stock_name}} </span></strong>
            <hr>
          </ion-col>
          <ion-col col-12>
            IN Quantity: <span class="pull-right"> {{s.in_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            IN Value: <span class="pull-right"> {{s.in_value}} </span>
          </ion-col>
          <ion-col col-12>
            OUT Quantity: <span class="pull-right"> {{s.out_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            OUT Value: <span class="pull-right"> {{s.out_value}} </span>
          </ion-col>
          <ion-col col-12>
            Opening Quantity: <span class="pull-right"> {{s.opening_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            Opening Value: <span class="pull-right"> {{s.opening_value}} </span>
          </ion-col>
          <ion-col col-12>
            Rate: <span class="pull-right"> {{s.rate}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Quantity: <span class="pull-right"> {{s.balance_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Value: <span class="pull-right"> {{s.balance_value}} </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="stock">
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col col-12  style="text-align:center; font-weight:600; font-size:18px;background: #fe5e00;
          color: #fff;">
            Total
          </ion-col>
          <ion-col col-12>
            IN Quantity: <span class="pull-right"> {{data.in_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            IN Value: <span class="pull-right"> {{data.in_value}} </span>
          </ion-col>
          <ion-col col-12>
            OUT Quantity: <span class="pull-right"> {{data.out_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            OUT Value: <span class="pull-right"> {{data.out_value}} </span>
          </ion-col>
          <ion-col col-12>
            Opening Quantity: <span class="pull-right"> {{data.opening_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            Opening Value: <span class="pull-right"> {{data.opening_value}} </span>
          </ion-col>
          <ion-col col-12>
            Rate: <span class="pull-right"> {{data.rate}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Quantity: <span class="pull-right"> {{data.balance_quantity}} </span>
          </ion-col>
          <ion-col col-12>
            Balance Value: <span class="pull-right"> {{data.balance_value}} </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

</ion-content>
