    ion-content, .toolbar-background-md{
        // background: orange !important;
    }
    ion-scroll {
        white-space: nowrap;
        height: 200px;
        overflow: hidden;
      }
      /* Hide ion-content scrollbar */
    // ::-webkit-scrollbar{
    //     display:none;
    // }

    hr{
        background: orange !important;
        width: 100%;
        height: 2px;
        opacity: 0.5;
    }
    .pull-right {
        float: right;
    }

    .footer{
    background: grey;
      min-height: 20px;
      height: auto;
    }