    ion-content, .toolbar-background-md{
        // background: orange !important;
    }
    ion-scroll {
        white-space: nowrap;
        height: 200px;
        overflow: hidden;
      }
      /* Hide ion-content scrollbar */
    // ::-webkit-scrollbar{
    //     display:none;
    // }

    hr{
        background: orange !important;
        width: 100%;
        height: 2px;
        opacity: 0.5;
    }
    .pull-right {
        float: right;
    }

    .footer{
    background: grey;
      min-height: 20px;
      height: auto;
    }

    .toolbar-title-md {
        color: white;
    }
    .toolbar-background-md {
        background: #FE5E00;
    }
    ion-icon {
        font-size: 1.3em;
        color: white;
        padding-right: 10px;
    }
    .card-md{
        box-shadow: 0 2px 2px 0 rgb(251, 163, 111), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    