
    .content-container{
        padding: 8px;
        
        .header .col, .footer .col {
            background-color:#fba36f;
        }
        
        
        .col {
            border: solid 1px grey;
            border-bottom-style: none;
            border-right-style: none;
        }
        
        .col:last-child {
            border-right: solid 1px grey;
        }
        
        .row:last-child .col {
            border-bottom: solid 1px grey;
        }
    }

    
    ion-scroll {
        white-space: nowrap;
        height: 200px;
        overflow: hidden;
      }

    hr{
        background: orange !important;
        width: 100%;
        height: 2px;
        opacity: 0.5;
    }
    .pull-right {
        float: right;
    }

    .toolbar-title-md {
        color: white;
    }
    .toolbar-background-md {
        background: #FE5E00;
    }
    ion-icon {
        font-size: 1.3em;
        color: white;
        padding-right: 10px;
    }
    .card-md{
        box-shadow: 0 2px 2px 0 rgb(251, 163, 111), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    